{
  "version": 3,
  "port": {{ .settings.port }},
  "output_encoding": "json",

  "extra_config": {
    "telemetry/logging": {
      "level": "DEBUG",
      "prefix": "[KRAKEND]",
      "stdout": true
    },
    "security/cors": {{ template "cors.tmpl" . }},
    "auth/validator": {{ template "jwt_validator.tmpl" . }}
  },

  "endpoints": [
    {{ template "auth_endpoints.tmpl" . }},
    {{ template "account_endpoints.tmpl" . }}
  ]
}