{
  "version": 3,
  "port": {{ .settings.port }},
  "output_encoding": "json",

  "tls": {
    "keys": [
      {
        "public_key": "/etc/krakend/certs/krakend.crt",
        "private_key": "/etc/krakend/certs/krakend.key"
      }
    ],
    "ca_certs": ["/etc/krakend/certs/ca.crt"]
  },

  "client_tls": {
    "allow_insecure_connections": false,
    "ca_certs": ["/etc/krakend/certs/ca.crt"]
  },

  "extra_config": {
    "telemetry/logging": {
      "level": "DEBUG",
      "prefix": "[KRAKEND]",
      "stdout": true
    },
    "security/cors": {{ template "cors.tmpl" . }}
  },

  "endpoints": [
    {{ template "auth_endpoints.tmpl" . }},
    {{ template "account_endpoints.tmpl" . }}
  ]
}