"extra_config": {
    "transport/http/client": {
        "tls_config": {
            "ca_certs": ["/etc/krakend/certs/ca.crt"],
            "client_cert": "/etc/krakend/certs/tls.crt",
            "client_key": "/etc/krakend/certs/tls.key",
            "server_name": "{{ .settings.account_server }}"
        }
    }
}