{
    "endpoint": "/v1/account/me",
    "method": "GET",
    "input_headers": ["X-User-Id"],
    "output_encoding": "no-op",
    "backend": [
      {
        "host": [
            "https://{{ .settings.account_service_url }}"
        ],
        "url_pattern": "/me",
        "accepted_status": [200, 400, 404],
        "encoding": "no-op",
        "sd": "static" 
      }
    ],
    "extra_config": {
      {{ template "jwt_validator.tmpl" . }}
    }
},
{
    "endpoint": "/v1/account/me/username",
    "method": "POST",
    "input_headers": ["X-User-Id"],
    "output_encoding": "no-op",
    "backend": [
        {
            "host": [
                "https://{{ .settings.account_service_url }}"
            ],
            "url_pattern": "/me/username",
            "accepted_status": [200, 400, 404],
            "encoding": "no-op",
            "sd": "static" 
        }
    ],
    "extra_config": {
      {{ template "jwt_validator.tmpl" . }}
    }
},
{
  "endpoint": "/v1/account/me/email/send_confirm_code",
  "method": "POST",
  "input_headers": ["X-User-Id"],
  "output_encoding": "no-op",
  "backend": [
    {
      "host": ["https://{{ .settings.account_service_url }}"],
      "url_pattern": "/me/email/send_confirm_code",
      "accepted_status": [200, 400, 404, 500],
      "encoding": "no-op",
      "sd": "static"
    }
  ],
  "extra_config": {
    {{ template "jwt_validator.tmpl" . }}
  }
},
{
  "endpoint": "/v1/account/me/email/confirm_email",
  "method": "POST",
  "input_headers": ["X-User-Id"],
  "output_encoding": "no-op",
  "backend": [
    {
      "host": ["https://{{ .settings.account_service_url }}"],
      "url_pattern": "/me/email/confirm_email",
      "accepted_status": [200, 400, 404, 410, 500],
      "encoding": "no-op",
      "sd": "static"
    }
  ],
  "extra_config": {
    {{ template "jwt_validator.tmpl" . }}
  }
},
{
  "endpoint": "/v1/account/docs",
  "method": "GET",
  "output_encoding": "no-op",
  "backend": [
    {
      "host": ["https://{{ .settings.account_service_url }}"],
      "url_pattern": "/docs"
    }
  ]
},
{
  "endpoint": "/v1/account/openapi.json",
  "method": "GET",
  "output_encoding": "no-op",
  "backend": [
    {
      "host": ["https://{{ .settings.account_service_url }}"],
      "url_pattern": "/openapi.json"
    }
  ]
}