{
    "endpoint": "/v1/account/me",
    "method": "GET",
    "extra_config": {
        "auth/validator": {
            "roles": [
                "user"
            ]
        }
    },
    "backend": [
        {
            "host": [
                "https://{{ .settings.account_service_url }}"
            ],
            "url_pattern": "/me",
            "extra_config": {
                "transport/http/client": {
                    "tls_config": {
                        "ca_certs": ["/etc/krakend/certs/ca.crt"],
                        "client_cert": "/etc/krakend/certs/tls.crt",
                        "client_key": "/etc/krakend/certs/tls.key"
                    }
                }
            }
        }
    ]
},
{
    "endpoint": "/v1/account/me/username",
    "method": "POST",
    "extra_config": {
        "auth/validator": {
            "roles": [
                "user"
            ]
        }
    },
    "backend": [
        {
            "host": [
                "https://{{ .settings.account_service_url }}"
            ],
            "url_pattern": "/me/username",
            "extra_config": {
                "transport/http/client": {
                    "tls_config": {
                        "ca_certs": ["/etc/krakend/certs/ca.crt"],
                        "client_cert": "/etc/krakend/certs/tls.crt",
                        "client_key": "/etc/krakend/certs/tls.key"
                    }
                }
            }
        }
    ]
},
{
  "endpoint": "/v1/account/docs",
  "method": "GET",
  "output_encoding": "no-op",
  "backend": [
    {
      "host": ["https://{{ .settings.account_service_url }}"],
      "url_pattern": "/docs",
      "extra_config": {
            "transport/http/client": {
                "tls_config": {
                    "ca_certs": ["/etc/krakend/certs/ca.crt"],
                    "client_cert": "/etc/krakend/certs/tls.crt",
                    "client_key": "/etc/krakend/certs/tls.key"
                }
            }
        }
    }
  ]
},
{
  "endpoint": "/v1/account/openapi.json",
  "method": "GET",
  "output_encoding": "no-op",
  "backend": [
    {
      "host": ["https://{{ .settings.account_service_url }}"],
      "url_pattern": "/openapi.json",
      "extra_config": {
            "transport/http/client": {
                "tls_config": {
                    "ca_certs": ["/etc/krakend/certs/ca.crt"],
                    "client_cert": "/etc/krakend/certs/tls.crt",
                    "client_key": "/etc/krakend/certs/tls.key"
                }
            }
        }
    }
  ]
}