{
  "endpoint": "/v1/auth/login",
  "method": "POST",
  "backend": [
    {
      "host": ["https://{{ .settings.auth_service_url }}"],
      "url_pattern": "/login",
      "extra_config": {
        "transport/http/client": {
          "tls_config": {
            "ca_certs": ["/etc/krakend/certs/ca.crt"],
            "client_cert": "/etc/krakend/certs/tls.crt",
            "client_key": "/etc/krakend/certs/tls.key"
          }
        }
      }
    }
  ]
},
{
  "endpoint": "/v1/auth/access-token",
  "method": "POST",
  "backend": [
    {
      "host": ["https://{{ .settings.auth_service_url }}"],
      "url_pattern": "/access-token",
      "extra_config": {
        "transport/http/client": {
          "tls_config": {
            "ca_certs": ["/etc/krakend/certs/ca.crt"],
            "client_cert": "/etc/krakend/certs/tls.crt",
            "client_key": "/etc/krakend/certs/tls.key"
          }
        }
      }
    }
  ]
},
{
  "endpoint": "/v1/auth/refresh-token",
  "method": "POST",
  "backend": [
    {
      "host": ["https://{{ .settings.auth_service_url }}"],
      "url_pattern": "/refresh-token",
      "extra_config": {
        "transport/http/client": {
          "tls_config": {
            "ca_certs": ["/etc/krakend/certs/ca.crt"],
            "client_cert": "/etc/krakend/certs/tls.crt",
            "client_key": "/etc/krakend/certs/tls.key"
          }
        }
      }
    }
  ]
},
{
  "endpoint": "/v1/auth/refresh",
  "method": "POST",
  "backend": [
    {
      "host": ["https://{{ .settings.auth_service_url }}"],
      "url_pattern": "/refresh",
      "extra_config": {
        "transport/http/client": {
          "tls_config": {
            "ca_certs": ["/etc/krakend/certs/ca.crt"],
            "client_cert": "/etc/krakend/certs/tls.crt",
            "client_key": "/etc/krakend/certs/tls.key"
          }
        }
      }
    }
  ]
},
{
  "endpoint": "/v1/auth/docs",
  "method": "GET",
  "output_encoding": "no-op",
  "backend": [
    {
      "host": ["https://{{ .settings.auth_service_url }}"],
      "url_pattern": "/docs",
      "extra_config": {
        "transport/http/client": {
          "tls_config": {
            "ca_certs": ["/etc/krakend/certs/ca.crt"],
            "client_cert": "/etc/krakend/certs/tls.crt",
            "client_key": "/etc/krakend/certs/tls.key"
          }
        }
      }
    }
  ]
},
{
  "endpoint": "/v1/auth/openapi.json",
  "method": "GET",
  "output_encoding": "no-op",
  "backend": [
    {
      "host": ["https://{{ .settings.auth_service_url }}"],
      "url_pattern": "/openapi.json",
      "extra_config": {
        "transport/http/client": {
          "tls_config": {
            "ca_certs": ["/etc/krakend/certs/ca.crt"],
            "client_cert": "/etc/krakend/certs/tls.crt",
            "client_key": "/etc/krakend/certs/tls.key"
          }
        }
      }
    }
  ]
},
{
  "endpoint": "/v1/auth/create-user",
  "method": "POST",
  "output_encoding": "no-op",
  "backend": [
    {
      "host": ["https://{{ .settings.auth_service_url }}"],
      "url_pattern": "/create-user",
      "extra_config": {
        "transport/http/client": {
          "tls_config": {
            "ca_certs": ["/etc/krakend/certs/ca.crt"],
            "client_cert": "/etc/krakend/certs/tls.crt",
            "client_key": "/etc/krakend/certs/tls.key"
          }
        }
      }
    }
  ]
}