"github.com/luraproject/lura/transport/http/client/quic": {
    "ca_certs": ["/etc/krakend/certs/ca.crt"]
},
"github.com/luraproject/lura/transport/http/client/http": {
    "tls_config": {
        "ca_certs": ["/etc/krakend/certs/ca.crt"],
        "insecure_skip_verify": false,
        "client_cert": "/etc/krakend/certs/client.crt",
        "client_key": "/etc/krakend/certs/client.key"
    }
}