"auth/validator": {
  "alg": "RS256",
  "jwk_url": "https://{{ .settings.auth_service_url }}/.well-known/jwks.json",
  "cache": true,
  "cache_duration": 900,
  "propagate_claims": [
    ["sub", "X-User-Id"],
    ["role", "X-User-Role"]
  ]
}